#root {
  @apply flex flex-col w-full
}

.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*CSS Loader from https://cssloaders.github.io/ */
.loader {
  position: relative;
  width: 100px;
  height: 20px;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8BE78B;
  box-shadow: 32px 0 #8BE78B;
  left: 0;
  top: 0;
  animation: ballMoveX 1s linear infinite;
}

.loader:after {
  box-shadow: none;
  transform: translateX(64px) scale(1);
  z-index: 2;
  animation: none;
  animation: trfLoader 1s linear infinite;
}

@keyframes trfLoader {

  0%,
  5% {
    transform: translateX(64px) scale(1);
    background: #8BE78B;
  }

  10% {
    transform: translateX(64px) scale(1);
    background: #07B53B;
  }

  40% {
    transform: translateX(32px) scale(1.5);
    background: #07B53B;
  }

  90%,
  95% {
    transform: translateX(0px) scale(1);
    background: #07B53B;
  }

  100% {
    transform: translateX(0px) scale(1);
    background: #8BE78B;
  }
}

@keyframes ballMoveX {

  0%,
  10% {
    transform: translateX(0)
  }

  90%,
  100% {
    transform: translateX(32px)
  }
}